<header class="main-header">
    <div class="header-container">
        <div class="header-left">
            <a href="{% url 'index' %}" class="logo">FashionHub</a>
        </div>
        <div class="header-center">
            <form action="{% url 'search' %}" method="get" class="search-bar">
                <input type="text" name="q" placeholder="Search for products, brands...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="header-right">
            <div class="header-actions">
                {% if user.is_authenticated %}
                <a href="#" class="header-action">
                    <i class="fa fa-user"></i>
                    <span>{{ user.username|truncatechars:8 }}</span>
                </a>
                <form method="post" action="{% url 'logout' %}" style="display:inline">
                    {% csrf_token %}
                    <button type="submit" class="header-action" style="background:none;border:none;cursor:pointer;">
                        <i class="fa fa-sign-out"></i>
                    </button>
                </form>
                {% else %}
                <a href="{% url 'login' %}" class="header-action">
                    <i class="fa fa-user"></i>
                </a>
                {% endif %}
                <a href="{% url 'cart' %}" class="header-action" id="cart-icon">
                    <i class="fa fa-shopping-cart"></i>
                    {% if cart_count > 0 %}
                    <span class="cart-badge">{{ cart_count }}</span>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</header>

<!-- NAVIGATION -->
<nav class="main-nav" x-data="{ menuOpen: false }" x-init="$watch('menuOpen', val => val ? openNav() : closeNav())">
    <div class="nav-container">
        <button class="hamburger" :class="{ 'active': menuOpen }" @click="menuOpen = !menuOpen" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div id="mySidenav" class="sidenav" x-data="{ currentMenu: 'main' }">
            <div x-show="currentMenu === 'main'" class="menu-section">
                <a href="{% url 'index' %}" @click="menuOpen = false">Home</a>
                <a href="javascript:void(0)" @click="currentMenu = 'women'">Women <i class="fa fa-chevron-right"></i></a>
                <a href="javascript:void(0)" @click="currentMenu = 'men'">Men <i class="fa fa-chevron-right"></i></a>
                {% if user.is_staff %}
                <a href="/admin/" @click="menuOpen = false">Admin</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'cart' %}" @click="menuOpen = false">Cart</a>
                <a href="{% url 'my_receipts' %}" @click="menuOpen = false">My Receipts</a>
                {% endif %}
            </div>
            <div x-show="currentMenu === 'women'" class="menu-section">
                <a href="javascript:void(0)" @click="currentMenu = 'main'"><i class="fa fa-chevron-left"></i> Back</a>
                <a href="{% url 'women' %}?sub=clothing" @click="menuOpen = false">Clothing</a>
                <a href="{% url 'women' %}?sub=shoes" @click="menuOpen = false">Shoes</a>
                <a href="{% url 'women' %}?sub=handbags" @click="menuOpen = false">Handbags</a>
            </div>
            <div x-show="currentMenu === 'men'" class="menu-section">
                <a href="javascript:void(0)" @click="currentMenu = 'main'"><i class="fa fa-chevron-left"></i> Back</a>
                <a href="{% url 'men' %}?sub=clothing" @click="menuOpen = false">Clothing</a>
                <a href="{% url 'men' %}?sub=shoes" @click="menuOpen = false">Shoes</a>
                <a href="{% url 'men' %}?sub=watches" @click="menuOpen = false">Watches</a>
            </div>
        </div>
        
        <ul class="nav-links" :class="{ 'mobile-open': menuOpen }">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="dropdown">
                <a href="{% url 'women' %}">Women <i class="fa fa-chevron-down" style="font-size: 10px;"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'women' %}?sub=clothing">Clothing</a></li>
                    <li><a href="{% url 'women' %}?sub=shoes">Shoes</a></li>
                    <li><a href="{% url 'women' %}?sub=handbags">Handbags</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="{% url 'men' %}">Men <i class="fa fa-chevron-down" style="font-size: 10px;"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'men' %}?sub=clothing">Clothing</a></li>
                    <li><a href="{% url 'men' %}?sub=shoes">Shoes</a></li>
                    <li><li><a href="{% url 'men' %}?sub=watches">Watches</a></li></li>
                </ul>
            </li>
            {% if user.is_staff %}
            <li><a href="/admin/">Admin</a></li>
            {% endif %}
            <li><a href="{% url 'track_order' %}">Track Order</a></li>
        </ul>
    </div>
</nav>
